@import "desktop.css";

main{
  padding-left: 10px;
  padding-right: 10px
}

footer{
  padding-left: 10px;
  padding-right: 10px;
}

nav{
  grid-template-columns: 1fr;
}

#homegrid{
  grid-template-columns: 1fr 1fr;
}

#homegrid img{
  width: 100%;
}

#mapGrid{
  grid-template-columns: 1fr;
}

#mapContainer{
  width: 100%;
  height: auto;
}

#map{
  width: 100%;
  position: initial;
}

#buttonContainer{
  width: 100%;
  height: 100px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
}

#buttonContainer div{
  position: initial;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

#button1{

}
