@import "desktop.css";

main{
  padding-left: 10px;
  padding-right: 10px
}

footer{
  padding-left: 10px;
  padding-right: 10px;
}

#homegrid{
  grid-template-columns: 1fr 1fr;
}

#homegrid img{
  width: 100%;
}

#mapGrid{
  grid-template-columns: 1fr;
}

#mapContainer{
  width: 100%;
}

#map{
  width: 100%;
}

#buttonContainer{
  width: 100%;
}

.grid_container img{
  width: 100%;
}
